body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../images/netflix.jpg");
    background-size: cover;
    /* backdrop-filter: blur(10px); */
    background-repeat: no-repeat;
}
.formContainer{
  background-color: #111;
  /* backdrop-filter: blur(10px);  */
}
.header img {
    width: 150px;
    height: 100px;
  }